.Followers {
    width: 100%;
    height: 100%;
    background-color: #D5DBF0;
}

.Followers-div{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.Followers-container{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    border-radius: 10px;
}
.friend-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 10px;
}

a{
    text-decoration: none;
    color:black;
}

#friend-icon{
    margin-top: 1rem;
    width: 5rem;
    height: 5rem;
    border-radius: 2.5rem;
    cursor: pointer;
    margin: 10px;
}

#friend-name{
    margin: 0.1rem;
    font-weight: bold;
}

#friend-nick{
    margin: 0.1rem;
}

#friend-bio{
    margin:0.25rem;
    max-width: 50vw;
}

