.EditProfile {
    width: 100%;
    height: 100%;
}

.EditContainer{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    background-color: #D5DBF0;
}

.ChangeData{
    margin: 1rem;
    padding-left: 1rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
}

.ChangeData input{
    width: 70%;
    height: 1.7rem;
    margin-bottom: 0.25rem;

}

.ChangeData h2{
    font-weight: 500;
    margin: 0.5rem 0 2rem 0;
}

.ChangeData h4{
    margin: 0.5rem 0 0.5rem 0;
}

.ChangeData button{
    margin: 1rem 1rem 1rem 0;
    padding: 0.5rem 1.1rem 0.5rem 1.1rem;
    background-color: #240047;
    color: white;
    border-radius: 5px;
}

.ChangeData button:hover{
    background-color: white;
    color: #240047;
    cursor: pointer;
}

#delete{
    background-color: red;
}

#delete:hover{
    background-color: white;
    color: red;
    cursor: pointer;
}
