.HomePage {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.HomeContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-top: 1px solid rgba(0,0,0,0.5);
    border-right: 1px solid rgba(0,0,0,0.5);
    border-radius: 0.8rem;
    margin-top: 2rem;
    min-width: 30rem;
    max-width: 90%;
    max-height: 90vh;
}

.HomeBar {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    border-bottom: 1px solid black;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    background-color: #240047;
}

.OptionsBar {
    padding: 0.8rem 0.8rem 0.4rem 0.8rem;
    color: white;
    cursor: pointer;
}

.HomeContent {
    display: flex;
    width: 100%;
    overflow-y: scroll;
}

.LeftContent {
    display: flex;
    flex-direction: column;
    flex-basis: 80%;
}

.WidgetContainer {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-top: 2rem;
}

.WidgetContainerHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.WidgetContainerTitle {
    font-weight: 600;
    padding: 0.1rem;
}

.ViewMore {
    font-size: 0.7rem;
    color: #094D92;
    padding: 0.1rem;
    cursor: pointer;
}

.WidgetContainerContent {
    background-color: #f6f6f6;
    padding: 1rem;
    border-top: 1px solid rgba(0,0,0,0.5);
}

.RightContent {
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
}

.SideWidgetContainerHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #240047;
    color: white;
}

.SideWidgetContainerTitle {
    font-weight: 600;
    white-space: nowrap;
    padding: 0.1rem 0.1rem 0.1rem 0.2rem;
}

.More {
    font-size: 0.7rem;
    color: white;
    padding: 0.1rem 0.2rem 0.1rem 0.1rem;
    cursor: pointer;
}

.SideWidgetContainerContent {
    background-color: #f6f6f6;
    padding: 1rem;
    border-top: 1px solid rgba(0,0,0,0.5);
}
