.NotFoundPage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.N404 {
    color: #240047;
    font-family: Raleway;
    font-size: 10rem;
}

.NotFound {
    color: #240047;
    font-family: Raleway;
    font-size: 5rem;
}

.PageDoesntExist {
    color: #240047;
    font-family: Raleway;
    font-size: 2rem;
}