.Header {
    width: 100vw;
    height: 4rem;
    background-color: #240047;
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.Logo {
    font-family: Raleway;
    font-size: 1.8rem;
    margin: 0 2rem;
    flex: 1;
}

.Logo a{
    color: white;
    text-decoration: none;
}

.Logo a:visited{
    color: white;
}

.Login-SignUp {
    margin: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.HeaderButton {
    font-size: 0.9rem;
    font-weight: bold;
    padding: 0.3rem 1.2rem;
    margin: 0 0.2rem;
    border-radius: 0.3rem;
    cursor: pointer;
    white-space: nowrap;
}

.HeaderButton:hover {
    opacity: 0.7;
    transition: 200ms;
}

.Login {
    background-color: white;
    border: 1px solid #240047;
}

.Login a{
    color: #240047;
    text-decoration: none;
}

.Login a:visited{
    color: #240047;
}

.SignUp {
    background-color: #5707a7;
    border: 1px solid #5707a7;
}

.SignUp a{
    color: white;
    text-decoration: none;
}

.SignUp a:visited{
    color: white;
}

.LogOut {
    position: relative;
    color: white;
    font-size: 0.8rem;
    cursor: pointer;
}
.LogOut::after {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: white;
}

.Login-SignUp img{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 1.25rem;
    margin: 0 0.5rem;
}

.Login-SignUp img:hover{
    opacity: 0.8;
    transition: 200ms;
}

@font-face {
    font-family: 'Raleway';
    src: url('Raleway-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}