.Following {
    width: 100%;
    height: 100%;
    background-color: #D5DBF0;
}

.Following-div{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
}

.Following-container{
    background-color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5px 10px 5px 10px;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
}
.friend-info{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

a{
    text-decoration: none;
    color:black;
}

#friend-icon{
    margin-top: 1rem;
    width: 5rem;
    height: 5rem;
    border-radius: 2.5rem;
    cursor: pointer;
    margin: 10px;
    
}

#friend-name{
    margin: 0rem;
    font-weight: bold;
}

#friend-nick{
    margin: 0rem;
    font-size: 12px;
    color: gray;
}

#friend-bio{
    margin:0.25rem;
    margin-left: 0;
    white-space: normal;
    word-break: break-word;
    font-size: 13px;
    color: rgb(43, 40, 40);
    
}