.ProfilePage {
    width: 100vw;
    min-height: 94vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ProfileContainer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 95vw;
    margin-top: 2rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    height: 100%;
    flex-wrap: wrap;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.LeftProfileSide {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid rgba(0, 0, 0, 0.24);
    border-radius: 0.5rem;
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    width: 30vw;
    min-width: 400px;
}

.LeftProfileSide img{
    margin-top: 1rem;
    width: 5rem;
    height: 5rem;
    border-radius: 2.5rem;
    cursor: pointer;
}

.ProfileUserName {
    margin-top: 0.5rem;
    font-weight: 600;
}

.ProfileUsername {
    font-size: 0.9rem;
}

.ProfileFollowersFollowing {
    display: flex;
    align-items: center;
}

.ProfileFollowersOrFollowing {
    position: relative;
    margin: 0.2rem;
    font-size: 0.9rem;
}

.ProfileFollowersOrFollowing:hover::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
}

.ProfileFollowersOrFollowing:hover {
    cursor: pointer;
}

.ProfileBio {
    padding: 0.5rem;
    background-color: #D5DBF0;
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
    margin: 2rem;
}
.ProfileBio p{
    font-size: 0.8rem;
    word-break: break-all;
}

.RightProfileSide {
    display: flex;
    flex: 2;
    flex-direction: column;
    width: 65vw;
    margin-right: 1rem;
    margin-left: 1rem;
    min-width: 400px;
}

.ProfileBar {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    background-color: #240047;
}

.ProfileBarOptions {
    position: relative;
    padding: 0.4rem 1rem 0.4rem 1rem;
    border-top: 1px solid #240047;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    color: white;
    cursor: pointer;
    
}

.Active {
    background-color: white;
    color: #240047;
    transition: 200ms;
}

.AlertProfilePage {
    position: absolute;
    top: 50vh;
}


.Follow-button{
    color: #D5DBF0;
    background-color: #240047;
    height: 30px;
    font-weight: bold;
    width: 100px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.24);
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
    cursor: pointer;
}

.Unfollow-button{
    color: #f52804;
    font-weight: bold;
    background-color: #fff;
    height: 30px;
    width: 100px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.24);
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
    cursor: pointer;
}

.Follow-button:hover{
    color: #240047;
    background-color: #fff;
}

.Unfollow-button:hover{
    background-color:#f52804;
    color: #fff;
}


