.Reviews {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #D5DBF0;
    margin-top: 1rem;
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
    overflow-x: visible;
    scroll-behavior: smooth;
    /*overflow-y: auto;*/
}

.ReviewContainer {
 
}

.InlineContainer {
    display: flex;
}

.ReviewImg {
    width: 9rem;
    height: 13.5rem;
}

.ReviewTextContainer {
    
}
