.Lists {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #D5DBF0;
    margin-top: 1rem;
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.ListContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: white;
    margin: 0.8rem 0.8rem 0.4rem 0.8rem;
    border-radius: 0.2rem;
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
}

.ListOptions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
}

.ListTitle {
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: 1rem;
}

.AddToList {
    width: 30px;
    height: 30px;
    margin-right: 1rem;
    cursor: pointer;
}

.List {
    display: flex;
    align-items: flex-start;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}

.EmptyList{
    position: relative;
    left: 45%;
}

.EmptyList p{
    font-weight: 500;
}

.Item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0.8rem;
    max-width: 15rem;
}

.ItemImg{
    width: 6rem;
    height: 8rem;
    cursor: pointer;
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
}

.ItemTitle{
    font-size: 0.8rem;
    font-weight: 500;
}

.ItemStatus{
    font-size: 0.7rem;
}

.ItemStatus[status="watched"] {
    color: green;
}

.ItemStatus[status="watching"] {
    color: blue;
}

.ItemStatus[status="abandoned"] {
    color: red;
}

.ItemStatus[status="read"] {
    color: green;
}

.ItemStatus[status="reading"] {
    color: blue;
}

.HiddenAttribute {
    display: block;
    white-space: normal;
    text-align: center;
    font-size: 0.8rem;
    width: 30rem;
}

.HiddenAttribute[rate="1"] img:nth-child(n+2) {
    visibility: hidden;
}

.HiddenAttribute[rate="2"] img:nth-child(n+3) {
    visibility: hidden;
}

.HiddenAttribute[rate="3"] img:nth-child(n+4) {
    visibility: hidden;
}

.HiddenAttribute[rate="4"] img:nth-child(n+5) {
    visibility: hidden;
}

.CloseExpandItem {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    cursor: pointer;
}

.Hidden {
    display: none;
    visibility: hidden;
}

.SearchContainer{
    margin: auto;
    margin-top: 1rem;
    padding-top: 1rem;
    width: 50vw;
    height: 50vh;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: white;
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
    border-radius: 0.2rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.SearchContainer[visible="false"]{
    display: none;
}

.SearchContainer[visible="true"]{
    display: flex;
    z-index: 999999;
}

.SearchContainerBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.SearchContainerInput {
    margin-right: 0.8rem;
    border: 1px solid black;
    border-radius: 0.4rem;
    padding: 0.2rem;
}

.SearchContainerInput:focus {
    outline: none;
}

.SearchContainerIcon {
    width: 1.2rem;
    height: 1.2rem;
    cursor: pointer;
}

.SearchContainerItems {
    margin: 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.24);
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}

.SearchContainerItem{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 6.5rem;
    height: 10rem;
    margin: 0.5rem 0.2rem;
    overflow: hidden;
    cursor: pointer;
 }

.SearchContainerItem p{
    font-size: 0.8rem;
    font-weight: 500;
    margin: 0.1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.SearchContainer img{
    width: 6rem;
    height: 8rem;
}